In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('FastFoodRestaurants.csv')
df.head()

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-7914...,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."

In [4]:
df.shape

(10000, 10)

In [5]:
df['province'].unique()

array(['NY', 'OH', 'KY', 'SC', 'AR', 'OK', 'IN', 'NC', 'TN', 'TX', 'LA',
       'KS', 'ND', 'UT', 'GA', 'NM', 'OR', 'HI', 'VT', 'MI', 'MO', 'WI',
       'WA', 'MS', 'NE', 'ME', 'MN', 'AL', 'IA', 'WV', 'AZ', 'SD', 'WY',
       'IL', 'VA', 'FL', 'CA', 'MT', 'ID', 'PA', 'RI', 'NV', 'NJ', 'MA',
       'MD', 'CO', 'NH', 'CT', 'AK', 'DE', 'DC', 'Co Spgs'], dtype=object)

### Q. How many restaurants are in each city?

In [6]:
city_counts = df.groupby('province')['name'].count()
city_counts

province
AK          14
AL         236
AR         151
AZ         208
CA         676
CO         158
CT          96
Co Spgs      5
DC          21
DE          32
FL         471
GA         347
HI          40
IA         166
ID          99
IL         363
IN         379
KS         103
KY         332
LA         237
MA         131
MD         159
ME          44
MI         251
MN         148
MO         334
MS          82
MT          25
NC         358
ND          50
NE          92
NH          36
NJ         151
NM         149
NV         135
NY         269
OH         543
OK         208
OR         114
PA         283
RI          24
SC         238
SD         105
TN         245
TX         634
UT         159
VA         327
VT          43
WA         209
WI         186
WV          93
WY          41
Name: name, dtype: int64

### Q. Top 5 Cities with the Highest Restaurants

In [10]:
df.groupby('province')['name'].count().sort_values(ascending=False)[0:5]

province
CA    676
TX    634
OH    543
FL    471
IN    379
Name: name, dtype: int64

### Q. What is the Average Price of Food in each City?