In [14]:
import pandas as pd
import requests

api_key = "7bc530ff1e2be2331d5992801abc8944"

# Endpoint for top-rated movies
url = f"https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=en-US&page=1"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    # Extract data
    data_json = response.json()
    results = data_json['results']
    total_pages = data_json['total_pages']
    print(f"Total pages: {total_pages}") # total pages count dynamic 
    
    # Create DataFrame
    data = pd.DataFrame(results, columns=['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count'])
else:
    print(f"Error: {response.status_code}, {response.text}")

Total pages: 492

In [17]:
import pandas as pd
import requests

api_key = "7bc530ff1e2be2331d5992801abc8944"

# Initial request to get total pages
url = f"https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=en-US&page=1"
headers = {"accept": "application/json"}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    data_json = response.json()
    total_pages = data_json['total_pages']  # Total pages available
    # print(f"Total pages: {total_pages}") 
else:
    print(f"Error: {response.status_code}, {response.text}")
    total_pages = 0

# Initialize an empty DataFrame
dataFrame = pd.DataFrame()

# Loop through all pages
for i in range(1, total_pages + 1):
    url = f"https://api.themoviedb.org/3/movie/top_rated?api_key={api_key}&language=en-US&page={i}"
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        page_data = response.json()['results']
        page_df = pd.DataFrame(page_data, columns=['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count'])
        dataFrame = pd.concat([dataFrame, page_df], ignore_index=True)  # Append the page data
    else:
        print(f"Error on page {i}: {response.status_code}, {response.text}")
        break

# Display the final DataFrame
dataFrame.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,160.564,8.708,27376
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,206.818,8.689,20785
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,99.110,8.572,12540
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,84.262,8.566,15959
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,53.880,8.547,8746

In [18]:
dataFrame.sample(20)

,id,title,overview,release_date,popularity,vote_average,vote_count
7027,19165,The Land Before Time V: The Mysterious Island,Littlefoot and his friends the gang in their n...,1997-09-12,14.253,6.200,317
7308,464737,The End?,A businessman gets stuck in his office elevato...,2017-08-14,6.850,6.133,380
6003,429203,The Old Man & the Gun,"The true story of Forrest Tucker, from his aud...",2018-09-27,7.278,6.430,1377
7503,1010928,Wingwomen,"Tired of life on the run, a pro thief decides ...",2023-11-01,30.020,6.100,417
8483,271718,Trainwreck,Having thought that monogamy was never possibl...,2015-07-17,23.647,5.805,2565
691,808,Shrek,It ain't easy bein' green -- especially if you...,2001-05-18,134.336,7.744,17193
837,11362,The Count of Monte Cristo,Edmond Dantés's life and plans to marry the be...,2002-01-23,60.360,7.672,1786
9704,168098,Cell,When a strange signal pulsates through all cel...,2016-07-06,18.953,4.677,1055
2409,10705,Henry V,Gritty adaption of William Shakespeare's play ...,1989-10-05,12.179,7.211,369
4023,9026,The Importance of Being Earnest,Two young gentlemen living in 1890s England us...,2002-05-17,13.042,6.842,471
1768,303483,Once in a Lifetime,"At Léon Blum High School in Créteil, France, a...",2014-12-03,6.515,7.400,316
5737,11333,Super Fuzz,While delivering a parking ticket to a small v...,1980-09-18,13.007,6.500,327
4931,4944,Burn After Reading,When a disc containing memoirs of a former CIA...,2008-09-05,24.311,6.654,4713
8709,310126,"The Rich, the Pauper and the Butler","A wealthy broker, his loyal butler, and a poor...",2014-12-11,5.077,5.700,845
3346,77174,ParaNorman,"In the town of Blithe Hollow, Norman Babcock c...",2012-08-03,29.879,6.991,2527
5285,511785,Alex Strangelove,Alex Truelove is on a quest to lose his virgin...,2018-04-16,11.524,6.576,1530
1032,4922,The Curious Case of Benjamin Button,"Born under unusual circumstances, Benjamin But...",2008-12-25,52.307,7.591,12791
5099,441282,Night Hunter,A Minnesota police officer crosses paths with ...,2019-08-29,59.815,6.600,900
7281,31578,Body Bags,A woman working the late shift at a gas statio...,1993-08-08,9.301,6.140,329
2074,3176,Battle Royale,"In the future, the Japanese government capture...",2000-12-16,39.941,7.291,3391

In [20]:
dataFrame.isnull().sum()

id              0
title           0
overview        0
release_date    0
popularity      0
vote_average    0
vote_count      0
dtype: int64

In [21]:
# df to csv file
dataFrame.to_csv('Movies.csv')